@font-face {
	font-family: 'DendaNew';
	src: url('../fonts/DendaNewC-BoldItalic.woff2') format('woff2'),
		url('../fonts/DendaNewC-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'DendaNew';
	src: url('../fonts/DendaNewBlackCondC.woff2') format('woff2'),
		url('../fonts/DendaNewBlackCondC.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'DendaNew';
	src: url('../fonts/DendaNewC-Bold.woff2') format('woff2'),
		url('../fonts/DendaNewC-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'DendaNew';
	src: url('../fonts/DendaNewC-Italic.woff2') format('woff2'),
		url('../fonts/DendaNewC-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'DendaNew';
	src: url('../fonts/DendaNewLightC-Italic.woff2') format('woff2'),
		url('../fonts/DendaNewLightC-Italic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'DendaNew';
	src: url('../fonts/DendaNewLightC.woff2') format('woff2'),
		url('../fonts/DendaNewLightC.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'DendaNew';
	src: url('../fonts/DendaNewC.woff2') format('woff2'),
		url('../fonts/DendaNewC.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
.slick-slide, .slick-slide *{ outline: none !important; }
//sticky footer
html, body {
	height: 100%;
}
.all-wrapper {
	min-height: 100%;
	margin-bottom: -140px; 
}
.all-wrapper:after {
  content: "";
  display: block;
}
.site-footer, .all-wrapper:after {
  height: 140px; 
}


$denda: 'DendaNew', serif;
$lora: 'Lora', serif;

.aligner {
	text-align: center;
}

.large-container {
	max-width: 1720px;
	margin: auto;
	padding: 0 10px;
}

.container {
	max-width: 1450px;
	margin: auto;
	padding: 0 10px;
}

.small-container {
	max-width: 890px;
	margin: auto;
	padding: 0 10px;
}




/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
        white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}







