block footer

	footer.site-footer.cf
		.container
			.site-footer__title ©  "Искусница", 2011-2017
			p.site-footer__copyright Все права на фото, тексты, рисунки принадлежат фирме «Искусница». Полное или частичное копирование, воспроизведение в печатном виде и/или использование в любой форме, цитирование без письменного разрешения правообладателя запрещено.
			ul.social__list
				li(style="background-image: url(img/fb.png)")
					a(href="#")
				li(style="background-image: url(img/vk.png)")
					a(href="#")
				li(style="background-image: url(img/inst.png)")
					a(href="#")