extends _layout
block content
	main.main-content.cart__page
		.small-container
			.cart__page-top.cf
				h1.cart__page-title Корзина
				a.cart__page-clean(href="#") Очистить корзину
			table.cart__table
				tr
					td.cart__table-img
						img(src="img/cart-img.png", alt="")
					td.cart__table-header
						p.cart__table-title Розочка (мини)
						p.cart__table-dimensions Размер: 6*8 см
					td.cart__table-sku Арт.: 606312
					td.cart__table-price 35 руб./шт.
					td.cart__table-count
						.cart__table-count--wrapper
							input.cart__table-count--input(type="number" value="3") 
							|  шт.
					td.cart__table-total 105 руб.
					td.cart__table-delete
						a(href="#")
				tr
					td.cart__table-img
						img(src="img/cart-img.png", alt="")
					td.cart__table-header
						p.cart__table-title Розочка (мини)
						p.cart__table-dimensions Размер: 6*8 см
					td.cart__table-sku Арт.: 606312
					td.cart__table-price 35 руб./шт.
					td.cart__table-count
						.cart__table-count--wrapper
							input.cart__table-count--input(type="number" value="3") 
							|  шт.
					td.cart__table-total 105 руб.
					td.cart__table-delete
						a(href="#")
				tr
					td.cart__table-img
						img(src="img/cart-img.png", alt="")
					td.cart__table-header
						p.cart__table-title Розочка (мини)
						p.cart__table-dimensions Размер: 6*8 см
					td.cart__table-sku Арт.: 606312
					td.cart__table-price 35 руб./шт.
					td.cart__table-count
						.cart__table-count--wrapper
							input.cart__table-count--input(type="number" value="3") 
							|  шт.
					td.cart__table-total 105 руб.
					td.cart__table-delete
						a(href="#")
				tr
					td.cart__table-img
						img(src="img/cart-img.png", alt="")
					td.cart__table-header
						p.cart__table-title Розочка (мини)
						p.cart__table-dimensions Размер: 6*8 см
					td.cart__table-sku Арт.: 606312
					td.cart__table-price 35 руб./шт.
					td.cart__table-count
						.cart__table-count--wrapper
							input.cart__table-count--input(type="number" value="3") 
							|  шт.
					td.cart__table-total 105 руб.
					td.cart__table-delete
						a(href="#")
				tr
					td.cart__table-img
						img(src="img/cart-img.png", alt="")
					td.cart__table-header
						p.cart__table-title Розочка (мини)
						p.cart__table-dimensions Размер: 6*8 см
					td.cart__table-sku Арт.: 606312
					td.cart__table-price 35 руб./шт.
					td.cart__table-count
						.cart__table-count--wrapper
							input.cart__table-count--input(type="number" value="3") 
							|  шт.
					td.cart__table-total 105 руб.
					td.cart__table-delete
						a(href="#")
				tr
					td.cart__table-img
						img(src="img/cart-img.png", alt="")
					td.cart__table-header
						p.cart__table-title Розочка (мини)
						p.cart__table-dimensions Размер: 6*8 см
					td.cart__table-sku Арт.: 606312
					td.cart__table-price 35 руб./шт.
					td.cart__table-count
						.cart__table-count--wrapper
							input.cart__table-count--input(type="number" value="3") 
							|  шт.
					td.cart__table-total 105 руб.
					td.cart__table-delete
						a(href="#")
			.cart__totals
				p.cart__totals-price Итого:
					span 280
					| руб.
				a.cart__totals-done(href="#") Перейти к оформлению






block inlineScripts