extends _layout
block content
	main.main-content.item__page-content
		.container
			.two-col__wrapper.cf
				aside.two-col__sidebar
					.filter__title-wrapper.cf
						span.filter__title Категории
						span.filter__toggle Свернуть
					.filter__checkboxes
						label.filter__checkbox
							input(type="checkbox") 
							|  Новинки
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Эксклюзивная серия Piglette
							span.filter__checkbox--ico
						.sub-filter
							label.filter__checkbox
								input(type="checkbox") 
								|  Распродажа
								span.filter__checkbox--ico
							label.filter__checkbox
								input(type="checkbox") 
								|  Распродажа
								span.filter__checkbox--ico
							label.filter__checkbox
								input(type="checkbox") 
								|  Распродажа
								span.filter__checkbox--ico
							label.filter__checkbox
								input(type="checkbox") 
								|  Распродажа
								span.filter__checkbox--ico
							label.filter__checkbox
								input(type="checkbox") 
								|  Распродажа
								span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Наборы ассорти
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Акция на схемы и наборы на атласе
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Распродажа
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Готовая вышивка гладью шелковыми нитками
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Пушистые подушки
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Новинки
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Эксклюзивная серия Piglette
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Наборы ассорти
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Акция на схемы и наборы на атласе
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Распродажа
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Готовая вышивка гладью шелковыми нитками
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Пушистые подушки
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Новинки
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Эксклюзивная серия Piglette
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Наборы ассорти
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Акция на схемы и наборы на атласе
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Распродажа
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Готовая вышивка гладью шелковыми нитками
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Пушистые подушки
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Новинки
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Эксклюзивная серия Piglette
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Наборы ассорти
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Акция на схемы и наборы на атласе
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Распродажа
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Готовая вышивка гладью шелковыми нитками
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Пушистые подушки
							span.filter__checkbox--ico
				.two-col__content
					.sort__wrapper Сортировать по:
						select.popup__input.popup__input--select.item--select
							option(value="123") Названию
							option(value="123") Названию1
							option(value="123") Названию2
						select.popup__input.popup__input--select.item--select
							option(value="123") По Цене
							option(value="123") По Цене2
							option(value="123") По Цене3
					.simple-block__row.catalog__row
						.product__item.product__item--discount
							span.product__sku Арт.: 606312
							.product__img
								a.product__img-inner(href="#")
									img(src="img/product1.png", alt="")
							.product__item-inner
								a.product__title(href="#") Розочка (мини)
								span.product__dimensions Размер: 6*8 см
								span.product__price 35 
									span.curr руб.
								a.product__order(href="#") в корзину
						.product__item
							span.product__sku Арт.: 606312
							.product__img
								a.product__img-inner(href="#")
									img(src="img/product2.png", alt="")
							.product__item-inner
								a.product__title(href="#") Розочка (мини)
								span.product__dimensions Размер: 6*8 см
								span.product__price 35 
									span.curr руб.
								a.product__order(href="#") в корзину
						.product__item
							span.product__sku Арт.: 606312
							.product__img
								a.product__img-inner(href="#")
									img(src="img/product3.png", alt="")
							.product__item-inner
								a.product__title(href="#") Розочка (мини)
								span.product__dimensions Размер: 6*8 см
								span.product__price 35 
									span.curr руб.
								a.product__order(href="#") в корзину
						.product__item
							span.product__sku Арт.: 606312
							.product__img
								a.product__img-inner(href="#")
									img(src="img/product4.jpg", alt="")
							.product__item-inner
								a.product__title(href="#") Розочка (мини)
								span.product__dimensions Размер: 6*8 см
								span.product__price 35 
									span.curr руб.
								a.product__order(href="#") в корзину
						.product__item
							span.product__sku Арт.: 606312
							.product__img
								a.product__img-inner(href="#")
									img(src="img/product1.png", alt="")
							.product__item-inner
								a.product__title(href="#") Розочка (мини)
								span.product__dimensions Размер: 6*8 см
								span.product__price 35 
									span.curr руб.
								a.product__order(href="#") в корзину
						.product__item.product__item--discount
							span.product__sku Арт.: 606312
							.product__img
								a.product__img-inner(href="#")
									img(src="img/product1.png", alt="")
							.product__item-inner
								a.product__title(href="#") Розочка (мини)
								span.product__dimensions Размер: 6*8 см
								span.product__price 35 
									span.curr руб.
								a.product__order(href="#") в корзину
						.product__item
							span.product__sku Арт.: 606312
							.product__img
								a.product__img-inner(href="#")
									img(src="img/product2.png", alt="")
							.product__item-inner
								a.product__title(href="#") Розочка (мини)
								span.product__dimensions Размер: 6*8 см
								span.product__price 35 
									span.curr руб.
								a.product__order(href="#") в корзину
						.product__item
							span.product__sku Арт.: 606312
							.product__img
								a.product__img-inner(href="#")
									img(src="img/product3.png", alt="")
							.product__item-inner
								a.product__title(href="#") Розочка (мини)
								span.product__dimensions Размер: 6*8 см
								span.product__price 35 
									span.curr руб.
								a.product__order(href="#") в корзину
						.product__item
							span.product__sku Арт.: 606312
							.product__img
								a.product__img-inner(href="#")
									img(src="img/product4.jpg", alt="")
							.product__item-inner
								a.product__title(href="#") Розочка (мини)
								span.product__dimensions Размер: 6*8 см
								span.product__price 35 
									span.curr руб.
								a.product__order(href="#") в корзину
						.product__item
							span.product__sku Арт.: 606312
							.product__img
								a.product__img-inner(href="#")
									img(src="img/product1.png", alt="")
							.product__item-inner
								a.product__title(href="#") Розочка (мини)
								span.product__dimensions Размер: 6*8 см
								span.product__price 35 
									span.curr руб.
								a.product__order(href="#") в корзину
						.product__item
							span.product__sku Арт.: 606312
							.product__img
								a.product__img-inner(href="#")
									img(src="img/product4.jpg", alt="")
							.product__item-inner
								a.product__title(href="#") Розочка (мини)
								span.product__dimensions Размер: 6*8 см
								span.product__price 35 
									span.curr руб.
								a.product__order(href="#") в корзину
						.product__item
							span.product__sku Арт.: 606312
							.product__img
								a.product__img-inner(href="#")
									img(src="img/product1.png", alt="")
							.product__item-inner
								a.product__title(href="#") Розочка (мини)
								span.product__dimensions Размер: 6*8 см
								span.product__price 35 
									span.curr руб.
								a.product__order(href="#") в корзину
		.coupon__block
			.container
				.coupon__block-inner
					.coupon__block-content.cf
						.coupon__block-number 15%
						.coupon__block-text
							p.coupon__block-title Дополнительная скидка к Вашей скидке!!
							p.coupon__block-description Задача организации, в особенности же консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. 

					.coupon__block-img
						img(src="img/coupon-img.png", alt="")
		.simple-block
			.container
				.simple-block__inner
					h2.simple-block__title Вам могут понравиться
					.simple-block__row
						.product__item.product__item--discount
							span.product__sku Арт.: 606312
							.product__img
								a.product__img-inner(href="#")
									img(src="img/product1.png", alt="")
							.product__item-inner
								a.product__title(href="#") Розочка (мини)
								span.product__dimensions Размер: 6*8 см
								span.product__price 35 
									span.curr руб.
								a.product__order(href="#") в корзину
						.product__item
							span.product__sku Арт.: 606312
							.product__img
								a.product__img-inner(href="#")
									img(src="img/product2.png", alt="")
							.product__item-inner
								a.product__title(href="#") Розочка (мини)
								span.product__dimensions Размер: 6*8 см
								span.product__price 35 
									span.curr руб.
								a.product__order(href="#") в корзину
						.product__item
							span.product__sku Арт.: 606312
							.product__img
								a.product__img-inner(href="#")
									img(src="img/product3.png", alt="")
							.product__item-inner
								a.product__title(href="#") Розочка (мини)
								span.product__dimensions Размер: 6*8 см
								span.product__price 35 
									span.curr руб.
								a.product__order(href="#") в корзину
						.product__item
							span.product__sku Арт.: 606312
							.product__img
								a.product__img-inner(href="#")
									img(src="img/product4.jpg", alt="")
							.product__item-inner
								a.product__title(href="#") Розочка (мини)
								span.product__dimensions Размер: 6*8 см
								span.product__price 35 
									span.curr руб.
								a.product__order(href="#") в корзину
						.product__item
							span.product__sku Арт.: 606312
							.product__img
								a.product__img-inner(href="#")
									img(src="img/product1.png", alt="")
							.product__item-inner
								a.product__title(href="#") Розочка (мини)
								span.product__dimensions Размер: 6*8 см
								span.product__price 35 
									span.curr руб.
								a.product__order(href="#") в корзину








block inlineScripts