extends _layout
block content
	main.main-content
		.static__pages
			.static__pages-top
				.large-container
					.static__pages-top-img(style="background-image: url(img/dream-bg.jpg)")
					.small-container
						h1.static__pages-title Вышиваем желания
			.static__pages-content
				.small-container
					h3 
						strong(style="font-size: 22px;") Дорогие искусники и искусницы!
					p Вышивка - это прекрасное занятие, которое способствует избавлению от стресса, развитию памяти и мышления. Вышивая, Вы можете представлять себя настоящей волшебницей и наполняться уверенностью, что ваша мечта осуществится. 
					p Вышивать нужно в хорошем настроении и во время процесса думать об исполнении Вашего желания. Но не стоит вышивать только для исполнения желания. Процесс должен доставлять удовольствие и сама вышивка должна вам нравиться.
					p Какие же выбирать сюжеты для рукоделия? Все зависит от вашей цели и желания.
					p
						strong Исполнение желания
					p Исполнить желание поможет вышивка с изображением маяка. Если там также изображено море, то оно обязательно должно быть спокойным. Также можно вышить мельницу.
					.static__gallery
						a(href="#")
							img(src="img/dimg1.jpg", alt="")
						a(href="#")
							img(src="img/dimg2.jpg", alt="")
					p
						strong Чтобы решить жилищный вопрос (купить дачу, квартиру, обзавестись своим домом):
					p Необходимо вышить ДОМИК. Не важно будет ли это маленькая избушка или роскошный особняк, любое здание поможет улучшить жилищные условия.
					.static__gallery
						a(href="#")
							img(src="img/dimg3.jpg", alt="")
						a(href="#")
							img(src="img/dimg4.jpg", alt="")
						a(href="#")
							img(src="img/dimg5.jpg", alt="")
						a(href="#")
							img(src="img/dimg6.jpg", alt="")
					p
						strong Чтобы решить жилищный вопрос (купить дачу, квартиру, обзавестись своим домом):
					p Необходимо вышить ДОМИК. Не важно будет ли это маленькая избушка или роскошный особняк, любое здание поможет улучшить жилищные условия.








block inlineScripts