extends _layout
block content
	main.main-content
		.home-slider
			.large-container
				.home-slider__wrapper
					.slick-slide
						a(href="#")
							img(src="img/home-slider-img.jpg", alt="")
					.slick-slide
						a(href="#")
							img(src="img/home-slider-img.jpg", alt="")
					.slick-slide
						a(href="#")
							img(src="img/home-slider-img.jpg", alt="")
					.slick-slide
						a(href="#")
							img(src="img/home-slider-img.jpg", alt="")
		.home__blocks
			.simple-block
				.container
					.simple-block__inner
						h2.simple-block__title Новинки
						.simple-block__row
							.product__item
								span.product__sku Арт.: 606312
								.product__img
									a.product__img-inner(href="#")
										img(src="img/product1.png", alt="")
								.product__item-inner
									a.product__title(href="#") Розочка (мини)
									span.product__dimensions Размер: 6*8 см
									span.product__price 35 
										span.curr руб.
									a.product__order(href="#") в корзину
							.product__item
								span.product__sku Арт.: 606312
								.product__img
									a.product__img-inner(href="#")
										img(src="img/product2.png", alt="")
								.product__item-inner
									a.product__title(href="#") Розочка (мини)
									span.product__dimensions Размер: 6*8 см
									span.product__price 35 
										span.curr руб.
									a.product__order(href="#") в корзину
							.product__item
								span.product__sku Арт.: 606312
								.product__img
									a.product__img-inner(href="#")
										img(src="img/product3.png", alt="")
								.product__item-inner
									a.product__title(href="#") Розочка (мини)
									span.product__dimensions Размер: 6*8 см
									span.product__price 35 
										span.curr руб.
									a.product__order(href="#") в корзину
							.product__item
								span.product__sku Арт.: 606312
								.product__img
									a.product__img-inner(href="#")
										img(src="img/product4.jpg", alt="")
								.product__item-inner
									a.product__title(href="#") Розочка (мини)
									span.product__dimensions Размер: 6*8 см
									span.product__price 35 
										span.curr руб.
									a.product__order(href="#") в корзину
							.product__item
								span.product__sku Арт.: 606312
								.product__img
									a.product__img-inner(href="#")
										img(src="img/product1.png", alt="")
								.product__item-inner
									a.product__title(href="#") Розочка (мини)
									span.product__dimensions Размер: 6*8 см
									span.product__price 35 
										span.curr руб.
									a.product__order(href="#") в корзину
			.simple-block
				.container
					.simple-block__inner
						h2.simple-block__title Хиты продаж
						.simple-block__row
							.product__item
								span.product__sku Арт.: 606312
								.product__img
									a.product__img-inner(href="#")
										img(src="img/product1.png", alt="")
								.product__item-inner
									a.product__title(href="#") Розочка (мини)
									span.product__dimensions Размер: 6*8 см
									span.product__price 35 
										span.curr руб.
									a.product__order(href="#") в корзину
							.product__item
								span.product__sku Арт.: 606312
								.product__img
									a.product__img-inner(href="#")
										img(src="img/product2.png", alt="")
								.product__item-inner
									a.product__title(href="#") Розочка (мини)
									span.product__dimensions Размер: 6*8 см
									span.product__price 35 
										span.curr руб.
									a.product__order(href="#") в корзину
							.product__item
								span.product__sku Арт.: 606312
								.product__img
									a.product__img-inner(href="#")
										img(src="img/product3.png", alt="")
								.product__item-inner
									a.product__title(href="#") Розочка (мини)
									span.product__dimensions Размер: 6*8 см
									span.product__price 35 
										span.curr руб.
									a.product__order(href="#") в корзину
							.product__item
								span.product__sku Арт.: 606312
								.product__img
									a.product__img-inner(href="#")
										img(src="img/product4.jpg", alt="")
								.product__item-inner
									a.product__title(href="#") Розочка (мини)
									span.product__dimensions Размер: 6*8 см
									span.product__price 35 
										span.curr руб.
									a.product__order(href="#") в корзину
							.product__item
								span.product__sku Арт.: 606312
								.product__img
									a.product__img-inner(href="#")
										img(src="img/product1.png", alt="")
								.product__item-inner
									a.product__title(href="#") Розочка (мини)
									span.product__dimensions Размер: 6*8 см
									span.product__price 35 
										span.curr руб.
									a.product__order(href="#") в корзину



block inlineScripts