extends _layout
block content
	main.main-content.item__page-content
		.container
			.two-col__wrapper.cf
				aside.two-col__sidebar
					.filter__title-wrapper.cf
						span.filter__title Категории
						span.filter__toggle Свернуть
					.filter__checkboxes
						label.filter__checkbox
							input(type="checkbox") 
							|  Новинки
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Эксклюзивная серия Piglette
							span.filter__checkbox--ico
						.sub-filter
							label.filter__checkbox
								input(type="checkbox") 
								|  Распродажа
								span.filter__checkbox--ico
							label.filter__checkbox
								input(type="checkbox") 
								|  Распродажа
								span.filter__checkbox--ico
							label.filter__checkbox
								input(type="checkbox") 
								|  Распродажа
								span.filter__checkbox--ico
							label.filter__checkbox
								input(type="checkbox") 
								|  Распродажа
								span.filter__checkbox--ico
							label.filter__checkbox
								input(type="checkbox") 
								|  Распродажа
								span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Наборы ассорти
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Акция на схемы и наборы на атласе
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Распродажа
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Готовая вышивка гладью шелковыми нитками
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Пушистые подушки
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Новинки
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Эксклюзивная серия Piglette
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Наборы ассорти
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Акция на схемы и наборы на атласе
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Распродажа
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Готовая вышивка гладью шелковыми нитками
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Пушистые подушки
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Новинки
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Эксклюзивная серия Piglette
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Наборы ассорти
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Акция на схемы и наборы на атласе
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Распродажа
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Готовая вышивка гладью шелковыми нитками
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Пушистые подушки
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Новинки
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Эксклюзивная серия Piglette
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Наборы ассорти
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Акция на схемы и наборы на атласе
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Распродажа
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Готовая вышивка гладью шелковыми нитками
							span.filter__checkbox--ico
						label.filter__checkbox
							input(type="checkbox") 
							|  Пушистые подушки
							span.filter__checkbox--ico
				.two-col__content
					.sort__wrapper.pagination__wrapper
						a(href="#") Главная 
						span.sep > 
						a(href="#") Каталог товаров 
						span.sep > 
						a(href="#") Наборы для вышивания-бисером 
						span.sep > 
						a(href="#") Разное - бисером 
						span.sep > 
						span Розочка мини
					.item__cart
						.item__cart-inner
							.item__cart-col.img-col
								img(src="img/item-img.png", alt="")
							.item__cart-col
								.item__cart-sku Арт.: 606312
								.item__cart-price 35 
									span руб.
									a(href="#") Добавить в корзину +
								p.item__cart-title Розочка мини
								p.item__cart-size 
									strong Размер:
									| 6*8 см
								p.item__cart-description 
									strong Комплектация:
									| Цветная схема Вышивки, Канва, Мулине, бисер, мононить, игла для бисера, канва, цветная схема вышивки
								.item__cart-buy
									input.popup__input(type="text" placeholder="1 шт.")
									input.item__cart-submit(type="submit" value="Купить")






					h2.simple-block__title С этим покупают:
					.simple-block__row.catalog__row
						.product__item.product__item--discount
							span.product__sku Арт.: 606312
							.product__img
								a.product__img-inner(href="#")
									img(src="img/product1.png", alt="")
							.product__item-inner
								a.product__title(href="#") Розочка (мини)
								span.product__dimensions Размер: 6*8 см
								span.product__price 35 
									span.curr руб.
								a.product__order(href="#") в корзину
						.product__item
							span.product__sku Арт.: 606312
							.product__img
								a.product__img-inner(href="#")
									img(src="img/product2.png", alt="")
							.product__item-inner
								a.product__title(href="#") Розочка (мини)
								span.product__dimensions Размер: 6*8 см
								span.product__price 35 
									span.curr руб.
								a.product__order(href="#") в корзину
						.product__item
							span.product__sku Арт.: 606312
							.product__img
								a.product__img-inner(href="#")
									img(src="img/product3.png", alt="")
							.product__item-inner
								a.product__title(href="#") Розочка (мини)
								span.product__dimensions Размер: 6*8 см
								span.product__price 35 
									span.curr руб.
								a.product__order(href="#") в корзину
						.product__item
							span.product__sku Арт.: 606312
							.product__img
								a.product__img-inner(href="#")
									img(src="img/product4.jpg", alt="")
							.product__item-inner
								a.product__title(href="#") Розочка (мини)
								span.product__dimensions Размер: 6*8 см
								span.product__price 35 
									span.curr руб.
								a.product__order(href="#") в корзину







block inlineScripts