extends _layout
block content
	main.main-content.cart__page
		.small-container.lk__page
			.cart__page-top.cf
				h1.cart__page-title Личный кабинет
				.lk__tabs
					a.current-tab(href="#" data-tab="history") История заказов 
					span | 
					a(href="#" data-tab="reset-pass") Сброс пароля
			.lk__tab-wrapper
				.lk__tab.active(data-tab="history")
					.lk__history
						.lk__history-item
							.lk__history-item--header
								span.order-number Заказ №  658913475
								span.order-date от 15.06.17
								p.order-status Статус:
									span Доставлен
								a.order-toggle(href="#") Развернуть
							.lk__history-item--table
								table.cart__table
									tr
										td.cart__table-img
											img(src="img/cart-img.png", alt="")
										td.cart__table-header
											p.cart__table-title Розочка (мини)
											p.cart__table-dimensions Размер: 6*8 см
										td.cart__table-sku Арт.: 606312
										td.cart__table-price 35 руб./шт.
										td.cart__table-count--wrapper 3 шт.
										td.cart__table-total 105 руб.
									tr
										td.cart__table-img
											img(src="img/cart-img.png", alt="")
										td.cart__table-header
											p.cart__table-title Розочка (мини)
											p.cart__table-dimensions Размер: 6*8 см
										td.cart__table-sku Арт.: 606312
										td.cart__table-price 35 руб./шт.
										td.cart__table-count--wrapper 3 шт.
										td.cart__table-total 105 руб.
									tr
										td.cart__table-img
											img(src="img/cart-img.png", alt="")
										td.cart__table-header
											p.cart__table-title Розочка (мини)
											p.cart__table-dimensions Размер: 6*8 см
										td.cart__table-sku Арт.: 606312
										td.cart__table-price 35 руб./шт.
										td.cart__table-count--wrapper 3 шт.
										td.cart__table-total 105 руб.
								.cart__totals
									p.cart__totals-price Итого:
										span 280
										| руб.
						.lk__history-item
							.lk__history-item--header
								span.order-number Заказ №  658913475
								span.order-date от 15.06.17
								p.order-status Статус:
									span Доставлен
								a.order-toggle(href="#") Развернуть
							.lk__history-item--table
								table.cart__table
									tr
										td.cart__table-img
											img(src="img/cart-img.png", alt="")
										td.cart__table-header
											p.cart__table-title Розочка (мини)
											p.cart__table-dimensions Размер: 6*8 см
										td.cart__table-sku Арт.: 606312
										td.cart__table-price 35 руб./шт.
										td.cart__table-count--wrapper 3 шт.
										td.cart__table-total 105 руб.
									tr
										td.cart__table-img
											img(src="img/cart-img.png", alt="")
										td.cart__table-header
											p.cart__table-title Розочка (мини)
											p.cart__table-dimensions Размер: 6*8 см
										td.cart__table-sku Арт.: 606312
										td.cart__table-price 35 руб./шт.
										td.cart__table-count--wrapper 3 шт.
										td.cart__table-total 105 руб.
									tr
										td.cart__table-img
											img(src="img/cart-img.png", alt="")
										td.cart__table-header
											p.cart__table-title Розочка (мини)
											p.cart__table-dimensions Размер: 6*8 см
										td.cart__table-sku Арт.: 606312
										td.cart__table-price 35 руб./шт.
										td.cart__table-count--wrapper 3 шт.
										td.cart__table-total 105 руб.
								.cart__totals
									p.cart__totals-price Итого:
										span 280
										| руб.
						.lk__history-item
							.lk__history-item--header
								span.order-number Заказ №  658913475
								span.order-date от 15.06.17
								p.order-status Статус:
									span Доставлен
								a.order-toggle(href="#") Развернуть
							.lk__history-item--table
								table.cart__table
									tr
										td.cart__table-img
											img(src="img/cart-img.png", alt="")
										td.cart__table-header
											p.cart__table-title Розочка (мини)
											p.cart__table-dimensions Размер: 6*8 см
										td.cart__table-sku Арт.: 606312
										td.cart__table-price 35 руб./шт.
										td.cart__table-count--wrapper 3 шт.
										td.cart__table-total 105 руб.
									tr
										td.cart__table-img
											img(src="img/cart-img.png", alt="")
										td.cart__table-header
											p.cart__table-title Розочка (мини)
											p.cart__table-dimensions Размер: 6*8 см
										td.cart__table-sku Арт.: 606312
										td.cart__table-price 35 руб./шт.
										td.cart__table-count--wrapper 3 шт.
										td.cart__table-total 105 руб.
									tr
										td.cart__table-img
											img(src="img/cart-img.png", alt="")
										td.cart__table-header
											p.cart__table-title Розочка (мини)
											p.cart__table-dimensions Размер: 6*8 см
										td.cart__table-sku Арт.: 606312
										td.cart__table-price 35 руб./шт.
										td.cart__table-count--wrapper 3 шт.
										td.cart__table-total 105 руб.
								.cart__totals
									p.cart__totals-price Итого:
										span 280
										| руб.
						.lk__history-item
							.lk__history-item--header
								span.order-number Заказ №  658913475
								span.order-date от 15.06.17
								p.order-status Статус:
									span Доставлен
								a.order-toggle(href="#") Развернуть
							.lk__history-item--table
								table.cart__table
									tr
										td.cart__table-img
											img(src="img/cart-img.png", alt="")
										td.cart__table-header
											p.cart__table-title Розочка (мини)
											p.cart__table-dimensions Размер: 6*8 см
										td.cart__table-sku Арт.: 606312
										td.cart__table-price 35 руб./шт.
										td.cart__table-count--wrapper 3 шт.
										td.cart__table-total 105 руб.
									tr
										td.cart__table-img
											img(src="img/cart-img.png", alt="")
										td.cart__table-header
											p.cart__table-title Розочка (мини)
											p.cart__table-dimensions Размер: 6*8 см
										td.cart__table-sku Арт.: 606312
										td.cart__table-price 35 руб./шт.
										td.cart__table-count--wrapper 3 шт.
										td.cart__table-total 105 руб.
									tr
										td.cart__table-img
											img(src="img/cart-img.png", alt="")
										td.cart__table-header
											p.cart__table-title Розочка (мини)
											p.cart__table-dimensions Размер: 6*8 см
										td.cart__table-sku Арт.: 606312
										td.cart__table-price 35 руб./шт.
										td.cart__table-count--wrapper 3 шт.
										td.cart__table-total 105 руб.
								.cart__totals
									p.cart__totals-price Итого:
										span 280
										| руб.
				.lk__tab(data-tab="reset-pass")
					p asdasdasds





block inlineScripts